{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}   Thanks - Perfect Store {% endblock %}
{% block content %}
    <div>
        <div class="text-center">
            <br>
            <br>
            <h1 class="text-center my_title">
                Thanks for placing your order
            </h1>
            <br>
            <br>
            <p>Your order number is: <b>{{ customer_order.id }}</b></p>
            <p>
                We have received your order and will begin procesing right away. For your records an email confirmation has send to you.
                It contains details of the items you purchase.
            </p>

        </div>
    </div>
    <br>
    <br>
{% endblock %}